<?xml version="1.0"?>
<launch>

  <arg name="modelfile"
    default="$(find baro_demo)/assets/mocap_measure.xml" />

  <rosparam file="$(find baro_demo)/config/config.yaml"
    subst_value="true" />

  <include file="$(find mujoco_ros)/launch/launch_server.launch" pass_all_args="true" >
    <arg name="use_sim_time"       value="true" />
    <arg name="unpause"            value="true" />
  </include>

</launch>
