<launch>

  <arg name="use_urdf2mjcf" default="false" />
  <arg name="rviz" default="false" />
  <arg name="modelfile" default="$(find rrbot_description)/xml/rrbot.xml"/>

  <param name="/use_sim_time" value="true"/>

    <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find rrbot_description)/urdf/rrbot.xacro'" />

  <group if="$(arg use_urdf2mjcf)" >
    <node name="urdf2mjcf_converter" pkg="urdf2mjcf" type="urdf2mjcf_ros" >
      <param name="urdf_source" value="robot_description" />
      <param name="xml_destination" value="/mujoco_xml" />
    </node>
  </group>


  <rosparam file="$(find rrbot_control)/config/rrbot_control.yaml" subst_value="true" />

  <include file="$(find mujoco_ros)/launch/launch_server.launch" pass_all_args="true" >
    <arg name="console_config_file" value="$(find mujoco_contact_surface_sensors)/rosconsole.config" />
    <arg name="wait_for_xml"        value="$(arg use_urdf2mjcf)" />
    <arg name="/use_sim_time"       value="true" />
  </include>

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rrbot_description)/launch/rrbot.rviz"/>
  </group>

    <!-- ros_control rrbot launch file -->
  <include file="$(find rrbot_control)/launch/rrbot_control.launch" />
  <include file="$(find rrbot_control)/launch/rrbot_rqt.launch" />
</launch>
