<?xml version="1.0"?>
<launch>

  <arg name="ns"          default="/"      doc="Namespace this robot is in" />
  <arg name="statepub"    default="true"  doc="should run statepub" />
  <arg name="verbose"     default="false"  doc="Should more debug output be printed?" />
  <arg name="unpause"     default="true"  doc="Should the simulation be unpaused on start?" />
  <arg name="rviz"        default="false"  doc="Should rviz be spawned?" />
  <arg name="arm_id"      default="panda" doc="Name of the panda robot to spawn" />
  <arg name="use_gripper" default="true"  doc="Should a franka hand be mounted on the flange?" />
  <arg name="controller"  default="cartesian_impedance_example_controller" doc="Which example controller should be started? (One of {cartesian_impedance,model,force,joint_position,joint_velocity}_example_controller)" />
  <arg name="modelfile"   default="$(find franka_mujoco)/assets/picknplace_world.xml" doc="MuJoCo xml file to load. Should define robot model and world." />
  <arg name="headless"    default="false" />
  <arg name="num_sim_steps" default="-1" />
  <arg name="interactive_marker" default="false" />
  <arg name="mujoco_plugin_config" default="$(find mujoco_panda_waving)/config/mj_plugins.yaml" doc="Location of param file containing the mujoco plugin config" />
  <arg name="use_sim_time" doc="should mujoco publish its simulation time as ros time?"/>

  <include file="$(find franka_mujoco)/launch/panda.launch" pass_all_args="true" />

  <node name="auto_movement_$(arg arm_id)"
        pkg="mujoco_panda_waving"
        type="movement_with_marker.py"
        if="$(eval arg('controller') == 'cartesian_impedance_example_controller')">
    <param name="link_name" value="$(arg arm_id)_link0" />
    <remap to="cartesian_impedance_example_controller/equilibrium_pose" from="equilibrium_pose" />
  </node>

</launch>
