<?xml version="1.0"?>
<launch>

  <arg name="rviz"                 default="false"  doc="Should rviz be spawned?" />
  <arg name="arm_id"               default="panda"  doc="Name of the panda robot to spawn" />
  <arg name="num_instances"        default="2"      doc="Number of parallel simulations to run." />
  <arg name="publish_trajectory"   default="true"   doc="If true will publish cartesian coordinates as controller targets for the cartesian_impedance_example_controller" />

  <arg name="controller"           default="cartesian_impedance_example_controller" />
  <arg name="modelfile"            default="$(find franka_mujoco)/assets/picknplace_world.xml" doc="MuJoCo xml file to load. Should define robot model and world." />
  <arg name="bootstrap_launchfile" default="$(find mujoco_parallel_env_demo)/launch/bringup_panda.launch" doc="Which launchfile should be run for each namespace" />
  <arg name="bootstrap_launchargs" default="[rviz:=false, arm_id:=%(arg ns)_$(arg arm_id), controller:=$(arg controller), publish_trajectory:=$(arg publish_trajectory)]" />

  <param name="/use_sim_time" value="true" />

  <!-- Bootstrapper node for environments -->
  <node pkg="mujoco_ros" type="ns_bootstrapper.py" name="ns_bootstrapper" output="screen" />

  <include file="$(find mujoco_ros)/launch/launch_server.launch" pass_all_args="true" />

  <group ns="env0" if="$(eval arg('num_instances') >= 2)">
    <node  pkg="rviz" type="rviz" output="screen" name="rviz_$(arg arm_id)_env0" args="-d $(find mujoco_parallel_env_demo)/launch/rviz/env0_panda.rviz" if="$(arg rviz)"/>
    <node  pkg="rviz" type="rviz" output="screen" name="rviz_$(arg arm_id)_env1" args="-d $(find mujoco_parallel_env_demo)/launch/rviz/env1_panda.rviz" if="$(arg rviz)"/>
  </group>

</launch>
