<?xml version="1.0"?>
<launch>

  <arg name="modelfile"
    default="$(find curved_sensor_demo)/assets/fingertip_mocap.xml" />

  <rosparam file="$(find curved_sensor_demo)/config/curved_fingertip.yaml"
    subst_value="true" />

  <include file="$(find mujoco_ros)/launch/launch_server.launch" pass_all_args="true" >
    <arg name="use_sim_time"       value="true" />
  </include>

</launch>
